<div class="main_menu_side hidden-print main_menu" id="sidebar-menu">
    <div class="menu_section">
        <h3>Generale</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Accueil <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="dashboard">Dashboard</a></li>
                    <li><a href="Horaire">Horaire</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-edit"></i> Formulaire <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="form">Creer Etudiant</a></li>
                    <li><a href="cours">Ajouter Cours</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-bar-chart-o"></i> Statistiques <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="promotion">Promotion</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-wrench"></i> Parametres <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="secretaire">Secretaire</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>