<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><!-- Meta, title, CSS, favicons, etc.-->
    <meta charset="utf-8">&#x9;
    <meta http-equiv="X-UA-Compatible" content="IE=edge">&#x9;
    <meta name="viewport" content="width=device-width, initial-scale=1">&#x9;<title>Formulaire | </title><!-- Bootstrap-->
    <%- include('head') %>
</head>
<style>
    .cours_item{
        cursor : pointer;
    }
    .cours_item:hover{
        text-decoration : underline
    }
</style>
    

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;"><a class="site_title" href="index.html"><i class="fa fa-paw"></i> <span>MyAPP</span></a></div>&#x9;&#x9;&#x9;&#x9;&#x9;<div class="clearfix"></div><!-- menu profile quick info-->
                <div class="profile clearfix">
                    <div class="profile_pic"><img class="img-circle profile_img" src="images/user.png" alt="..."></div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="profile_info"><span>Welcome,</span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<h2>Joel Mb</h2>
                    </div>
                </div><!-- /menu profile quick info--><br><!-- sidebar menu-->
                <%- include('navbar') %>
                <div class="sidebar-footer hidden-small"><a data-toggle="tooltip" data-placement="top" title="Settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<a data-toggle="tooltip" data-placement="top" title="FullScreen"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span></a>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<a data-toggle="tooltip" data-placement="top" title="Lock"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></a>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<a data-toggle="tooltip" data-placement="top" title="Logout" href="index"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></div><!-- /menu footer buttons-->
            </div>
        </div><!-- top navigation-->
        <div class="top_nav">
            <div class="nav_menu">
                <div class="nav toggle"><a id="menu_toggle"><i class="fa fa-bars"></i></a></div>&#x9;&#x9;&#x9;&#x9;&#x9;<nav class="nav navbar-nav">
                    <ul class="navbar-right">
                        <li class="nav-item dropdown open" style="padding-left: 15px;"><a class="user-profile dropdown-toggle" id="navbarDropdown" href="javascript:;" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false"><img src="images/user.png" alt="">Joel Mb</a>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="javascript:;"> Profile</a>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<a class="dropdown-item" href="javascript:;"><span class="badge bg-red pull-right">50%</span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<span>Settings</span></a>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<a class="dropdown-item" href="javascript:;">Help</a>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<a class="dropdown-item" href="/"><i class="fa fa-sign-out pull-right"></i> Log Out</a></div>
                        </li>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<li class="nav-item dropdown open" role="presentation"><a class="dropdown-toggle info-number" id="navbarDropdown1" href="javascript:;" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope-o"></i>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<span class="badge bg-green">6</span></a>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                <li class="nav-item"><a class="dropdown-item"><span class="image"><img src="images/img.jpg" alt="Profile Image"></span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<span><span>John Smith</span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<span class="time">3 mins ago</span></span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...</span></a></li>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<li class="nav-item"><a class="dropdown-item"><span class="image"><img src="images/img.jpg" alt="Profile Image"></span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<span><span>John Smith</span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<span class="time">3 mins ago</span></span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...</span></a></li>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<li class="nav-item"><a class="dropdown-item"><span class="image"><img src="images/img.jpg" alt="Profile Image"></span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<span><span>John Smith</span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<span class="time">3 mins ago</span></span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...</span></a></li>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<li class="nav-item"><a class="dropdown-item"><span class="image"><img src="images/img.jpg" alt="Profile Image"></span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<span><span>John Smith</span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<span class="time">3 mins ago</span></span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...</span></a></li>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<li class="nav-item">
                                    <div class="text-center"><a class="dropdown-item"><strong>See All Alerts</strong>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<i class="fa fa-angle-right"></i></a></div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div><!-- /top navigation-->
        <!-- page content-->
        <div class="right_col" role="main">
            <div>
                <Select class="form-control" id="promotion_list">
                    <option value=0>Selectionnez une promotion</option>
                    <optgroup label="Liste des promotions" id="promotion_list_group"></optgroup>
                </Select>
                <br>
                <div class="col-md-12 col-sm-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Liste des Cours</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Settings 1</a><a class="dropdown-item" href="#">Settings 2</a></div>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="table-responsive">
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                    <tr class="headings">
                                        <th class="column-title">id</th>
                                        <th class="column-title">Nom </th>
                                        <th class="column-title">Ponderation </th>
                                    </tr>
                                    </thead>

                                    <tbody id="course_list">
                                    <!-- We add dynamically course list -->
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div id="">
                            <div class="d-block">

                                <label class="col" for="seanceList">Liste de présence du</label>
                                <div class="col form-group">
                                    <select class="form-control" id="seanceList">
                                        <!-- We add dynamically seance list -->
                                    </select>
                                </div>

                            </div>
                            <div class="x_content">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nom complet</th>
                                        <th scope="col">Matricule</th>
                                        <th scope="col">Présence</th>
                                    </tr>
                                    </thead>
                                    <tbody id="attendanceList">
                                    <!-- We add dynamically attendance list -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
           
            <script src="stylesheets/vendors/jquery/dist/jquery.min.js"></script>
            <script src="js/promotion.js"></script>
            <!-- Bootstrap-->
            <script src="stylesheets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script><!-- FastClick-->
            <script src="stylesheets/vendors/fastclick/lib/fastclick.js"></script><!-- NProgress-->
            <script src="stylesheets/vendors/nprogress/nprogress.js"></script><!-- bootstrap-progressbar-->
            <script src="stylesheets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script><!-- iCheck-->
            <script src="stylesheets/vendors/iCheck/icheck.min.js"></script><!-- bootstrap-daterangepicker-->
            <script src="stylesheets/vendors/moment/min/moment.min.js"></script>&#x9;<script src="stylesheets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script><!-- bootstrap-wysiwyg-->
            <script src="stylesheets/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>&#x9;<script src="stylesheets/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>&#x9;<script src="stylesheets/vendors/google-code-prettify/src/prettify.js"></script><!-- jQuery Tags Input-->
            <script src="stylesheets/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script><!-- Switchery-->
            <script src="stylesheets/vendors/switchery/dist/switchery.min.js"></script><!-- Select2-->
            <script src="stylesheets/vendors/select2/dist/js/select2.full.min.js"></script><!-- Parsley-->
            <script src="stylesheets/vendors/parsleyjs/dist/parsley.min.js"></script><!-- Autosize-->
            <script src="stylesheets/vendors/autosize/dist/autosize.min.js"></script><!-- jQuery autocomplete-->
            <script src="stylesheets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script><!-- starrr-->
            <script src="stylesheets/vendors/starrr/dist/starrr.js"></script><!-- Custom Theme Scripts-->
            <script src="stylesheets/build/js/custom.min.js"></script>
        </div>

    </div>
</div>
</body>

</html>