<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><!-- Meta, title, CSS, favicons, etc.-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">&#x9;
    <link rel="icon" href="images/favicon.ico" type="image/ico">
    <title> </title><!-- Bootstrap-->
    <%- include('head') %>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;"><a class="site_title" href="index.html"><i class="fa fa-paw"></i> <span>MyAPP</span></a></div>
                    <div class="clearfix"></div><!-- menu profile quick info-->
                    <div class="profile clearfix">
                        <div class="profile_pic"><img class="img-circle profile_img" src="images/user.png" alt="..."></div>
                        <div class="profile_info"><span>Bonjour Mr,</span>
                            <h2></h2>
                        </div>
                    </div><!-- /menu profile quick info--><br><!-- sidebar menu-->
                    <%- include('navbar') %>
                    <!-- /sidebar menu-->
                    <!-- /menu footer buttons-->
                    <div class="sidebar-footer hidden-small"><a data-toggle="tooltip" data-placement="top" title="Settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a><a data-toggle="tooltip" data-placement="top" title="FullScreen"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span></a><a data-toggle="tooltip" data-placement="top" title="Lock"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></a><a data-toggle="tooltip" data-placement="top" title="Logout" href="/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></div><!-- /menu footer buttons-->
                </div>
            </div><!-- top navigation-->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle"><a id="menu_toggle"><i class="fa fa-bars"></i></a></div>
                    <nav class="nav navbar-nav">
                        <ul class="navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;"><a class="user-profile dropdown-toggle" id="navbarDropdown" href="javascript:;" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false"><img src="images/img.jpg" alt=""></a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="javascript:;"> Profile</a><a class="dropdown-item" href="javascript:;"><span class="badge bg-red pull-right">50%</span><span>Settings</span></a><a class="dropdown-item" href="javascript:;">Help</a><a class="dropdown-item" href="/"><i class="fa fa-sign-out pull-right"></i> Log Out</a></div>
                            </li>
                            <li class="nav-item dropdown open" role="presentation"><a class="dropdown-toggle info-number" id="navbarDropdown1" href="javascript:;" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope-o"></i><span class="badge bg-green">6</span></a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    <li class="nav-item"><a class="dropdown-item"><span class="image"><img src="images/img.jpg" alt="Profile Image"></span><span><span>John Smith</span><span class="time">3 mins ago</span></span><span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...</span></a></li>
                                    <li class="nav-item"><a class="dropdown-item"><span class="image"><img src="images/img.jpg" alt="Profile Image"></span><span><span>John Smith</span><span class="time">3 mins ago</span></span><span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...</span></a></li>
                                    <li class="nav-item"><a class="dropdown-item"><span class="image"><img src="images/img.jpg" alt="Profile Image"></span><span><span>John Smith</span><span class="time">3 mins ago</span></span><span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...</span></a></li>
                                    <li class="nav-item"><a class="dropdown-item"><span class="image"><img src="images/img.jpg" alt="Profile Image"></span><span><span>John Smith</span><span class="time">3 mins ago</span></span><span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...</span></a></li>
                                    <li class="nav-item">
                                        <div class="text-center"><a class="dropdown-item"><strong>See All Alerts</strong><i class="fa fa-angle-right"></i></a></div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div><!-- /top navigation-->
            <!-- page content-->
            <div class="right_col" role="main">
                <Select class="form-control" id="promotion_list">
                    <option value=0>Selectionnez une promotion</option>
                        <optgroup label="Liste des promotions" id="promotion_list_group"></optgroup>
                </Select>
                <!-- top tiles-->
                <p>
                    <form action="/api/v1/seance" method="post">
                        <table style="height: 30px;" border="1" cellspacing="10" cellpadding="20" width="50" align="center" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Heure </th>
                                    <th class="column-title">Lundi 
                                        <input type="date" name="date" min="2018-01-01" max="2050-12-31" id="start">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>De<input type="time" id="appt" name="heure_debut" min="08:00" max="18:00" required>
                                        <br/><br/>
                                        A<input type="time" id="appt" name="heure_fin" min="09:00" max="18:00" required>
                                    </td>
                                    <td>
                                        <Select class="form-control" name="Cours_idCours">
                                            <optgroup class="cours" id="course_list" >List cours</optgroup>
                                        </Select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Auditoire</td>
                                    <td>
                                        <Select class="form-control" id="auditoire" name="Auditoire_idAuditoire" >
                                        <optgroup >Liste auditoire</optgroup>
                                    </Select></td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-success" type="submit">Creer</button>
                    </form>
                </p>
                <div class="col" style="display: inline-block;">
                    <div class="tile_count">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="4">Séance programmée</th>
                                </tr>
                                <tr>
                                    <th class="cours_date_col">Date</th>
                                    <th class="cours_name_col">Cours</th>
                                    <th class="start_time_col">Heure de début</th>
                                    <th class="end_time_col">Heure de fin</th>
                                </tr>
                            </thead>
                            <tbody id="schedule">
                                <tr class="schedule_entries">
                                    <td class="cours_date">2022-11-05</td>
                                    <td class="cours_name">Java</td>
                                    <td class="start_time">11h</td>
                                    <td class="end_time">12h</td>
                                </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div><br><!-- /page content-->
            
        </div>
    </div><!-- jQuery-->
    <script>
        
        const auditoire_url='http://localhost:3000/api/v1/auditoire';

        //Giving a API URL, that function hits a fetch to the URL & return the json response
        linkAudit = document.getElementById("auditoire")
        async function getAuditoireData(url) {

            const response = await fetch(url);
            
            // Storing data in form of JSON
            var data = await response.json();
            if (response) {
                console.log(data.result);
            }
            
            showAuditoire(data.result);
        }
        getAuditoireData(auditoire_url);
        //Get promotion data
        const auditoire_data = getPromotionData(auditoire_url);

        function showAuditoire(data) {
              //  const table_to_fill = document.getElementById("role")
                // Loop to access all rows 
                for (let record of data) {   
            linkAudit.innerHTML +=`<option value=${record.idAuditoire}>${record.nom} </option>`;
                }
                // Setting innerHTML as tab variable               
            }
    </script>
    <script>
        const promotion_url='http://localhost:3000/api/v1/promotion';

        //Giving a API URL, that function hits a fetch to the URL & return the json response
        async function getPromotionData(url) {

            const response = await fetch(url);
            
            // Storing data in form of JSON
            var data = await response.json();
            if (response) {
                console.log(data);
            }
            
            showPromotionList(data)
        }
        getPromotionData(promotion_url);
        

        //Get promotion data
        const promotion_data = getPromotionData(promotion_url);

        
        function showPromotionList(data) {
            const LIST_TO_FILL = document.getElementById("promotion_list_group")
            let list_template = '';
        //     // Loop to access all rows 
            for (let record of data.result) {
                list_template += `<option value=${record.idPromotion}>${record.nom} ${record.filiere}</option>`;
            }
            // Setting innerHTML as tab variable
            LIST_TO_FILL.innerHTML = list_template;
            
        }

        showPromotionList(promotion_data);
    </script>
    <script>
        

        const course_url='http://localhost:3000/api/v1/cours';

        //Giving a API URL, that function hits a fetch to the URL & return the json response
        async function getCourseData(url) {

            const response = await fetch(url);
            
            // Storing data in form of JSON
            var data = await response.json();
            if (response) {
                console.log(data);
            }
            
            showCourseList(data)
        }
        getCourseData(course_url);


        //Get course data
        const course_data = getCourseData(course_url);


        function showCourseList(data) {
            const LIST_TO_FILL = document.getElementById("course_list");
            
            
            document.getElementById('promotion_list').addEventListener('change', (e) => {
                let list_template = '';

                for (let record of data.result) {
                    
                    if (record.Promotion_idPromotion == e.target.value) {
                        list_template += `<option value=${record.idCours}>${record.nom}</option>`;
                    }

                }
                // Fill the list with data
                LIST_TO_FILL.innerHTML = list_template;
            })
            
        }
        showPromotionList(promotion_data);

        function showSchedule(data) {
            const LIST_TO_FILL = document.getElementById("schedule");
            for (let record of data.result) {
                
                let formatted_date = formatDate(record.date)
                if (record.Promotion_idPromotion == e.target.value) {
                    list_template += `
                        <tr class="schedule_entries">
                            <td class="cours_date">${formatted_date}</td>
                            <td class="cours_name">${record.nom}</td>
                            <td class="start_time">${record.heure_debut}</td>
                            <td class="end_time">${record.heure_fin}</td>
                        </tr>
                    `;
                }

            }
            // Fill the list with data
            LIST_TO_FILL.innerHTML = list_template;

        }


    </script>
    <script src="../stylesheets/vendors/jquery/dist/jquery.min.js"></script><!-- Bootstrap-->
    <script src="../stylesheets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script><!-- FastClick-->
    <script src="../stylesheets/vendors/fastclick/lib/fastclick.js"></script><!-- NProgress-->
    <script src="../stylesheets/vendors/nprogress/nprogress.js"></script><!-- Chart.js-->
    <script src="../stylesheets/vendors/Chart.js/dist/Chart.min.js"></script><!-- gauge.js-->
    <script src="../stylesheets/vendors/gauge.js/dist/gauge.min.js"></script><!-- bootstrap-progressbar-->
    <script src="../stylesheets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script><!-- iCheck-->
    <script src="../stylesheets/vendors/iCheck/icheck.min.js"></script><!-- Skycons-->
    <script src="../stylesheets/vendors/skycons/skycons.js"></script><!-- Flot-->
    <script src="../stylesheets/vendors/Flot/jquery.flot.js"></script>
    <script src="../stylesheets/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="../stylesheets/vendors/Flot/jquery.flot.time.js"></script>
    <script src="../stylesheets/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="../stylesheets/vendors/Flot/jquery.flot.resize.js"></script><!-- Flot plugins-->
    <script src="../stylesheets/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="../stylesheets/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../stylesheets/vendors/flot.curvedlines/curvedLines.js"></script><!-- DateJS-->
    <script src="../stylesheets/vendors/DateJS/build/date.js"></script><!-- JQVMap-->
    <script src="../stylesheets/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="../stylesheets/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="../stylesheets/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script><!-- bootstrap-daterangepicker-->
    <script src="../stylesheets/vendors/moment/min/moment.min.js"></script>
    <script src="../stylesheets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script><!-- Custom Theme Scripts-->
    <script src="../stylesheets/build/js/custom.min.js"></script>
</body>

</html>